.direnv/
dist-newstyle/
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
result
doc/.devenv
_minted*
*bbl
*bcf
*blg
*commandment
*fls
*idx
*ilg
*ind
*out
*log
*law
*toc
*xml
*gz
*bib
*pdf
*fdb_latexmk
*listing
*definition
*-SAVE-ERROR
.pre-commit-config.yaml
.devenv
.devenv.flake.nix
session.yaml
.envrc
